/* profile */
body {
    background-color: #121212;
    color: #f0b90b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.profile-container {
    text-align: center;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(240, 185, 11, 0.5);
    width: 80%;
    max-width: 400px;
}
h1 {
    color: #f0b90b;
}
.profile-card p {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 5px;
    background: #292929;
    border-radius: 5px;
}
.pending {
    color: #ffcc00;
}